<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>EventList</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Date</th>
                <th>attendees</th>
            </tr>
            <tr th:each="events : ${events}">
                <td th:text="${events.getName()}"></td>
                <td th:text="${events.getDate()}"></td>
                <td th:text="${events.getUserString()}"></td>
            </tr>
        </table>
        <a href="http://localhost:8080/event/register">Add an event</a>
        <br />
        <a href="http://localhost:8080/user/all">user list</a>
        <br />
        <a href="http://localhost:8080/register/new">Add an user to an event</a>
    </body>
</html>
