<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>userList</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <table class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Event(s) joined</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getEventString()}"></td>
            </tr>
        </table>
        
        <a href="http://localhost:8080/user/register">Add an user</a>
        <br />
        <a href="http://localhost:8080/event/all">Event list</a>
        <br />
        <a href="http://localhost:8080/register/new">Add an user to an event</a>
        
    </body>
</html>
